@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #dee2e7;
    overflow: hidden;
}

#root {
    position: relative;
    min-height: 100vh;
}

.sidebar-show {
    transform: translateX(0);
}
.sidebar-hide {
    transform: translateX(200%);
}
