@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #dee2e7;
}
#root {
    min-height: 100vh;
}

.sidebar-show {
    right: 0;
}
.sidebar-hide {
    right: -100%;
}
