@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
body {
    margin: 0;
    font-family: "Kumbh Sans", sans-serif;
    color: #333;
    font-size: 1.1rem;
}
.App {
    max-width: 800px;
    margin: 1rem auto;
    padding: 1rem;
}
.DateTime {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ececec;
    margin-bottom: 1rem;
}
.TodoItem {
    margin-bottom: 5px;
}
.TodoList {
    border-bottom: 1px solid #ececec;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
.LikeArea button {
    font-size: 1rem;
    margin-left: 5px;
    cursor: pointer;
    padding: 4px 8px;
}
.AddTodo input {
    font-size: 1rem;
    width: 250px;
    padding: 4px 8px;
}
.AddTodo button {
    font-size: 1rem;
    margin-left: 10px;
    cursor: pointer;
    padding: 4px 8px;
}
.remove-item {
    color: coral;
    background: none;
    border: 1px solid;
    border-radius: 50%;
    padding: 2px 5px;
    cursor: pointer;
    outline: none;
}
.remove-item:hover {
    color: red;
}
