body {
    margin: 0;
}
.slider {
    margin-top: 3rem;
    padding: 1rem;
}
.slider__wrapper {
    display: flex;
    justify-content: center;
    border: 1px solid gray;
    padding: 1rem;
}
article {
    height: 400px;
    width: 400px;
    padding: 1rem;
    background: linen;
    border: 1px solid lightgray;
}
article img {
    object-fit: cover;
    width: 100%;
    height: 85%;
}
article p {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}
.nav-buttons {
    padding: 1rem;
    display: flex;
    justify-content: center;
}
.nav-buttons button {
    cursor: pointer;
    margin: 0 1rem;
}
