@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");

body {
    font-family: "Quicksand", sans-serif;
}
* {
    font-size: 1.1rem;
}
.container {
    border: 1px solid gray;
    padding: 1rem;
}
.date-time {
    display: flex;
    justify-content: space-between;
}
