@import url('https://fonts.googleapis.com/css2?family=Varta:wght@400;600&display=swap');
body {
  margin: 0;
  font-family: 'Varta', sans-serif;
}
.app {
  padding: 1rem;
  box-shadow: 1px 1px 3px gray;
  margin: 1rem;
}
.title {
  color: #16a085;
}
.time {
  color: gray;
  margin-left: 5px;
}
fieldset {
  border: 1px solid lightgray;
  display: flex;
  max-width: 400px;
}
fieldset input {
  width: 95%;
  border: 1px solid gray;
  margin-bottom: 1rem;
  padding: 2px 4px;
  border-radius: 3px;
}