@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

a {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.navbar {
    background: black;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.toggle-icon {
    font-size: 2rem;
    margin-left: 2rem;
}
.nav-menu {
    background: black;
    width: 250px;
    height: 50vh;
    position: fixed;
    top: 0;
    transition: 0.85s;
    left: -100%;
}
.nav-menu.active {
    left: 0;
    transition: 0.35s;
}
