.page-section {
    font-size: 5rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: lightblue;
}
.about {
    background: lightgoldenrodyellow;
}
.projects {
    background: lightgreen;
}
