@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color:#36313e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;
  height: 95vh;
}

.wrapper h1 {
  margin: 1rem 0;
  font-size: 2rem;
}

.input-card {
  padding: 2rem;
  background-color: #4a416b;
  border-radius: 7px;
  display: flex;
  gap: 1rem;
  position: relative;
}
@media (max-width: 576px) {
  .input-card {
    padding: 1rem;
  }
}

.input-card input {
  font-size: 1rem;
  flex: 1;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 1rem;
}
.input-card button {
  border: none;
  outline: none;
  background-color: #9ce3e3;
  font-size: 1.1rem;
  color: white;
  font-weight: bold;
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;
}
@media (max-width: 576px) {
  .input-card button {
    font-size: 1rem;
    padding: 5px 15px;
  }
}
.input-card .error {
  position: absolute;
  bottom: 8px;
  left: 32px;
  font-size: 14px;
  color: #E91E63;
}

/*
  RESULTS
-----------*/

.results {
  margin-top: 2rem;
  overflow: auto;
}
.results-card {
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f1f7;
  margin-bottom: 1rem;
}

@media (max-width: 576px) {
  .results-card__left {
    display: none;
  }
}

.results-card__right {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.results-card__right .result {
  color: #5ad1d1;
  text-decoration: none;
}
.results-card__right button {
  border: none;
  cursor: pointer;
  width: 100px;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  background-color: #5ad1d1;
  border-radius: 5px;
  color: white;
}

/*
  FOOTER
----------*/
footer {
  text-align: center;
  color: silver;
}
footer a {
  color: #92c6c6;
  transition: color 0.5s ease;
  text-decoration: none;
}
footer a:hover {
  color: #5ad1d1;
}