@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
body {
    margin: 0;
    display: flex;
    justify-content: center;
    color: white;
    background-image: url("../src/images/cover.svg");
    background-size: cover;
}

* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

.appWrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-container {
    padding: 1rem;
    margin-top: 5rem;
    min-width: 375px;
}

.form-inputs {
    display: flex;
    flex-direction: column;
}
.form-inputs input {
    margin-bottom: 2rem;
    padding: 10px;
    outline: none;
    border: 1px solid lightgray;
    font-size: 15px;
    border-radius: 4px;
    color: #111111;
    background: #f3f3f3;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

button {
    border: none;
    padding: 10px 20px;
    color: #516163;
    background: #cce8e5;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 4px;
}
button.back-button {
    background: #edefef;
}

.confirm-container {
    margin-bottom: 1rem;
}
.confirm-container strong {
    display: inline-block;
    min-width: 150px;
}

.footer {
    text-align: center;
    font-size: 0.9rem;
    padding: 1rem;
    color: #021220;
}

.footer a {
    color: #021220;
}

@media (max-width: 576px) {
    .form-container {
        margin-top: 2rem;
    }
}
