@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Crimson Text", serif;
    font-size: 1.1rem;
}
body {
    padding: 1rem;
    display: flex;
    justify-content: center;
}
.todoContainer {
    padding: 1rem;
}
.todoContainer button {
    margin: 0 0.5rem;
    padding: 4px 12px;
}
.todoContainer input {
    padding: 4px 12px;
}

.todoItem {
    padding: 5px 0;
    border-bottom: 1px solid rgb(219, 219, 219);
}
.todoItem input {
    margin-right: 0.5rem;
}
