@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #243264;
    background: #f3f3e3;
}
.font-scramento {
    font-family: "Sacramento", cursive;
}
