@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap");

body {
    background: linen;
    margin: 0;
}
* {
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}
.page-content {
    min-height: calc(100vh - 80px);
    padding: 1rem;
}

/*
    FOOTER
------------*/
footer {
    text-align: center;
    color: gray;
}
footer a {
    color: black;
    text-decoration: none;
}
